.startGame{
    padding: 64px;
}

.characterConfirm{
    border-radius: 16px;
    background-color: #2B6069;
    color: #fff;
    padding: 16px;
    margin: 0 auto;
    display: table;
}

.characterConfirm img{
    display: table;
    margin: 0 auto;
    padding: 32px;
    width: 128px;
    border-radius: 48px;
}

.askConfirm{
    display: table;
    margin: 0 auto;
    padding: 48px;
    margin-top: 32px;
    border-radius: 64px;
    background-color: #2B6069;
    color: #fff;
}

.askConfirm button{
    margin-top: 16px;
    color: #fff;
    padding: 8px;
    font-size: 16px;
    width: 49%;
    border: none;
    border-radius: 16px;
    cursor: pointer;
}

.askConfirm #frstBttn{
    background-color: #f00;
    font-size: 13px;
}

.askConfirm #frstBttn:hover{
    background-color: #FF4C4C;
}

.askConfirm #scndBttn{
    background-color: #008000;
}

.askConfirm #scndBttn:hover{
    background-color: #30f830;
}